.biblio_card {
    width: 100%;
}
ion-card-title {
    // width: 60vw;
    font-weight: bold;
    white-space: nowrap;
    overflow-x: hidden;
}
ion-card {
    padding: 1.2em 0;
}
ion-grid {
    margin: 3em 0;
}